<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
    <h1>Lorem ipsum House headline</h1>
    <p class="byline">By Lorem Ipsum • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg elex-main">

    <section class="body">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
    </section>

    <section id="scroll">
      <div class="scroll__graphic">
        <svg id="map-zoomer" width="960" height="500" preserveAspectRatio="xMinYMin meet" viewBox="0 0 900 500"></svg>
      </div>
      <div class="scroll__text" id="map-sections">
        <div class="step" data-step="1"><p>Of the 435 House seats up for election in 2018, only a small number are considered by political handicappers to be toss-ups.</p></div>
        <div class="step" data-step="2"></div>
        <div class="step" data-step="3"><p>Minnesota is home to four of them — more than any other state besides California.</p></div>
        <div class="step" data-step="4"></div>
        <div class="step" data-step="5"><p>Democrat Rick Nolan is retiring from District 8 in the Iron Range. Tim Walz is leaving District 1 in Southern Minnesota to run for governor. But both districts now lean Republican, and all but four of their combined counties voted for Trump in 2016.</p></div>
        <div class="step" data-step="6"></div>
        <div class="step" data-step="7"><p> In the 2nd and 3rd districts in the Twin Cities suburbs, Republican incumbents Erik Paulsen and Jason Lewis are facing strong D.F.L. challengers. Both districts voted for Hillary Clinton in 2016, making them attractive targets for Democrats.</p></div>
        <div class="step" data-step="8"></div>
      </div>
    </section>

    <section class="body">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      <p><strong>Something involving race ratings and NRCC/DRCC target races?</strong></p>   
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>  
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
      <p><strong>Shifting districts maybe here</strong></p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>  
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
    </section>      

  </div>

</div>


<script>
export default {
  oncreate: function() {
    console.log('created');
  }
};
</script>
