<div id="scroll">
  <div class="scroll__graphic">
      <div id="map-zoomer"><svg width="960" height="500"></svg></div>
      <div class="byline">Source: Competitiveness, tossup designations based on an average of ratings given by The Cook Political Report, Insde Elections, Larry J. Sabato's Crystal Ball, Real Clear Politics and CNN. A race is considered competitive if a majority of forecasters deem it to be anything but a safe win for one party.</div>
      <!--  viewBox="0 0 1000 500" -->
  </div>
  <div class="scroll__text" id="map-sections">
    <div class="step first" data-step="1"><p>{@html content.scrollymap_text.slide1}</p></div>
    <div class="step" data-step="2"><p>{@html content.scrollymap_text.slide2}</p></div>
    <div class="step" data-step="3"><p>{@html content.scrollymap_text.slide3}</p></div>
    <div class="step" data-step="4"><p>{@html content.scrollymap_text.slide4}</p></div>
    <div class="step" data-step="5"><p>{@html content.scrollymap_text.slide5}</p></div>
  </div>
</div>
