  <!-- TOSSUP RATINGS -->
<div class="slide" id="tossups">
<div class="chartTitle">{content.tossups_text.headline}</div>
<div class="chatter">{content.tossups_text.chatter}</div>
    <div id="chartRatings">
        <div class="table charted">
              <div class="th row">
                    <div class="column">District</div>
                    <div class="column incumbent">Incumbent</div>
                    <div class="column margin">2016 margin</div>
                    <div class="column">Cook</div>
                    <div class="column">Inside<br />Elections</div>
                    <div class="column">Sabato</div>
                    <div class="column">CNN</div>
                    <div class="column">Real Clear<br />Politics</div>
               </div>
              <div class="row purple1">
                    <div class="column">MN1</div>
                    <div class="column d1 incumbent">Open DFL</div>
                    <div class="column margin">+0.3%</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
               </div>
              <div class="row purple1">
                    <div class="column">MN8</div>
                    <div class="column d1 incumbent">Open DFL</div>
                    <div class="column margin">+0.2%</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
               </div>
              <div class="row purple1">
                    <div class="column">MN2</div>
                    <div class="column r4 incumbent">Jason Lewis</div>
                    <div class="column margin">+2%</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
               </div>
              <div class="row purple1">
                    <div class="column">MN3</div>
                    <div class="column r4 incumbent">Erik Paulsen</div>
                    <div class="column margin">+14%</div>
                    <div class="column purple">Tossup</div>
                    <div class="column r1">Lean R</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
                    <div class="column purple">Tossup</div>
               </div>
              <div class="row">
                    <div class="column">MN7</div>
                    <div class="column d4 incumbent">Collin Peterson</div>
                    <div class="column margin">+6%</div>
                    <div class="column d3">Likely D</div>
                    <div class="column d3">Likely D</div>
                    <div class="column d3">Likely D</div>
                    <div class="column d3">Likely D</div>
                    <div class="column d2">Lean D</div>
               </div>
              <div class="row">
                    <div class="column">MN6</div>
                    <div class="column r4 incumbent">Tom Emmer</div>
                    <div class="column margin">+32%</div>
                    <div class="column r4">Solid R</div>
                    <div class="column r4">Solid R</div>
                    <div class="column r4">Solid R</div>
                    <div class="column r4">Solid R</div>
                    <div class="column r4">Solid R</div>
               </div>
              <div class="row">
                    <div class="column">MN4</div>
                    <div class="column d4 incumbent">Betty McCollum</div>
                    <div class="column margin">+24%</div>
                    <div class="column d4">Solid D</div>
                    <div class="column d4">Solid D</div>
                    <div class="column d4">Solid D</div>
                    <div class="column d4">Solid D</div>
                    <div class="column d4">Solid D</div>
               </div>
              <div class="row">
                    <div class="column">MN5</div>
                    <div class="column d1 incumbent">Open DFL</div>
                    <div class="column margin">+47%</div>
                    <div class="column d4">Solid D</div>
                    <div class="column d4">Solid D</div>
                    <div class="column d4">Solid D</div>
                    <div class="column d4">Solid D</div>
                    <div class="column d4">Solid D</div>
               </div>
        </div>
    </div>

    <div class="byline">Source: Various election forecasters | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_" rel="new_">Jeff Hargarten, Star Tribune</a></div>
</div>
